:root{
    --bg-color: #f1f1f1;
    --bg-color-b: #292929;
    --header-height: 3.5em;
    
}

* {
    box-sizing: border-box;
}
body {
    font-size: 20px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color:var(--bg-color);
    color: var(--bg-color-b);
    cursor: default;
}

a {
    color: var(--bg-color-b);
}

img {
    border-radius: 5px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
}
/*loader*/
/* .loader{
    height: 100vh;
    position: fixed;
    width: 100vw;
} 
/* wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--header-height);
    /* width: 100%; */
}
/*section*/
.section {
    text-align: center;
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img{
    margin-left: .2rem;
}
.horizontal {
    align-items: center;
    flex-direction: column;
}
.static {
    flex-direction: row;
}
.bigger {
    width: 100%;
    padding: 0 1rem 0 1rem;
}
.element {
    margin-top: 1em;
    /* margin-bottom: 1em; */
}
.wifi {
    width: 3rem;
}
.to-right {
    text-align: end;
}
.to-left {
    text-align: start;
}
.content {
    justify-self: center;
    width: 80%;
    /* align-items: center; */
}
.aligned {
    align-items: center;
}

/* Header */
object {
    padding-top: 0.2em;
}
.header {
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    height: var(--header-height);
    padding-top: .5em;
    padding-bottom: .5em;
    background-color:var(--bg-color);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0 0  5px 5px;
}

.header ul {
    margin: 0;
    padding: 0;
    /* padding-top: 2vh; */
    list-style: none;
    overflow: hidden;
    background-color:var(--bg-color);
}

.header li a {
    border-right: 1px solid var(--bg-color);
    text-decoration: none;
    font-weight:bold;
}
.person-item a:hover,
.dwBTTN:hover,
.header li a:hover,
.header .menu-btn:hover {
    color: var(--bg-color-b);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 325);
    transition: .2s;
}
.header .logo {
    display: block;
    float: left;
    font-size: 2rem;
    padding-top: 0.5%;
    padding-left: 1vw;
    text-decoration: none;
}
.logo {
    margin-left: 1rem;
    padding-top: 3rem;
}
/* Menu */

.dwBTTN{
    color: var(--bg-color-b);
    background-color: var(--bg-color);
    float: right;
    margin-right:2vh;
    margin-top: 2vh;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
}

.header .menu {
    clear: both;
    max-height: 0;
    align-items: center;
    transition: max-height .2s ease-out;
}

/* Menu icon */

.header .menu-icon {
    float:right;
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px 0 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    /* top:calc(var(--header-height) - 5px); */
    max-height: 18em;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* Slogan */
.slogan{
    background-image: url("images/bc.jpg");
    min-height: calc(100vh - var(--header-height));
    background-size: cover;
    z-index: 0;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 1.925);
}
.linear-main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, rgba(81, 125, 163, 0.795002) 0%, #000000 99.98%, #010101 99.99%);
}
.slogan h2{
    /* position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 2rem;
}

.bc{
    width: 100%;
    height: 100%;
}

/*Problem społeczny*/
/* .project{
    margin-top: 10vh;
    margin-left: 1vw;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 0 10% 0 10%;
} */
/* .about h2,
.project h2{
    font-size:5vh;
} */
.about p,
/* .project p{
    margin-bottom: 14vh;
    font-weight: bold;
    font-size: 3vh;
    padding: 0 35% 0 35%;
} */
.about button,
/* .project button{
    font-family:'Roboto', sans-serif;;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    border: 1px solid #6B6B6B;
    border-radius: 3px;
    background-color: #2CC069;
    width: 20vw;
    height: 5vh;
}
/*Project*/

/*Solution*/
.solution-photo {
    width: 80%;

}
.solution h4 {
    margin-bottom: 0;
}

/*Difference*/
/* .difference { */
/*  */
/* } */
/* O Nas */
.about{
    padding: 0 20% 0 20%;
    text-align: center;
}
.about img{
    width: 100%;
    height: 100%;
    border: var(--bg-color-b) 5px solid;
}
.team{
    /* margin-top: 5vh; */
    width: 80%;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    /* font-size: 60px; */
    display: flex;
    flex-wrap: wrap;
}
.person-item{
    margin: 1em;
    max-width: 200px;
    /* max-height: 300px; */
}
.person-item img {
    width: 200px;
    box-shadow: 2px 4px 1px 1px #424242;
}
.person-item a{
    text-decoration: none;
}
.shadow {
    box-shadow: 2px 4px 1px 1px #424242;
}
/* Pierwszy rząd zdjęć x3 */
/* .firstLine{
    margin-top: 4vh;
    margin-left:5.9vw;
    text-align: center;
}
.firstLine a{
    padding: 1vh 1vw 1vh 1vw;
    text-decoration: none;
}
.firstLine h2{
    margin-left: 10vw;
    margin-bottom: 0;
}
.firstLine img{
    width: 30vh;
    height: 45vh;
    margin-left: 10vw;
    border: var(--bg-color-b) 5px solid;
}
.firstLine div{
    float: left;
}
.firstLine p{
    font-weight: bold;
    margin-left: 10vw;
    margin-bottom: 3vh;
} */

/*Kontakt*/
footer {
    align-self: flex-end;
}
.contact{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    /* margin-top: 10vh; */
    background-color: var(--bg-color);
    box-shadow: 1px 1px 0px 0 rgba(0,0,0,.1);
    border: 1px 0 0px 0 solid #a2a2a2;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* font-weight: bold; */
}
/* .email{
    margin-top: 2vh;
    margin-left: 12vw;
    text-align: center;
    float: left;
} */
.contact h2{
    font-size: 1rem;
}
.contact img {
    max-width: 60px;
}
/* .email p{
    margin-left: 1rem;
    font-size: 22px;
} */
/* .socialIcon{
    float: left;
    text-align: center;
    margin-left: 8vw;
}
.socialIcon h2{
    margin-left: 3vw;
} */
.icons {
    justify-content: center;
    flex-wrap:wrap;
    width: 50%;
    margin-top: 1em;
}
.socialIcon img{
    margin-right: 5px;
    margin-left: 3px;
    width: 2.5rem;
    height: 2.5rem;
}
.zw{

    text-align: center;
    padding: 1em;
    width: 60%;
}

/* 48em = 768px */
@media only screen and (max-width: 255px) {
    html {max-width: 100vw;}
    .logo object {
        width: 80px;
    }
    .wrapper {
        font-size: 12px;
    }
    .person-item img {
        width: 150px;
    }
    .wifi {
        width: 2rem;
    }
    .slogan h2 {
        font-size: 1.5rem;
    }


}
@media (min-width: 56rem) {
    .team {width: 60%;}
    .zw{
        text-align: center;
        padding: 1em;
        width: 40%;
    }
    .solution-photo {
        width: 40%;
    }
    .body {
        font-size: 30px;
    }
    .header{
        position: fixed;
        top: 0;
        height: var(--header-height);
        display: flex;
        align-items: center;
        transition: top 0.3s;
    }
    .header li {
        float: left;
    }
    .header li a {
        font-size: large;
        padding: 20px 5px 30px 30px;
    }
    .header .menu {
        clear: none;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    .about{
        padding: 0 10% 0 10%;
    }
    .horizontal{
        flex-direction: row;
    }
    .content{ 
        max-width: 40%;
    }
    .socialIcon img{
        margin-right: 5px;
        margin-left: 3px;
        width: 3.5rem;
        height: 3.5rem;
    }
    /* .team{
        max-width: 60%;
    } */
}

@media screen and (max-width: 56rem) {

    .dwBTTN{
        padding-top: 3vw;
    }
    .header li a{
        display: block;
        padding: 20px 20px;
        border-right: 1px solid var(--bg-color);
        text-decoration: none;
        font-weight:bold;
    }
    /* .about h2,
    .project h2,
    .slogan h2{
        font-size: 1.2rem;
        margin: none;
    }
    .about p,
    .project p {
        padding: 0 2rem 0 2rem;
    }
    .project span{
        font-size: 2rem;
        padding: 0 2rem 0 0;
    }
    .project{
        margin: 0;
    } */
    .about button,
    .project button{
        width: 45vw;
    }
    /* .firstLine img{
        width: 50%;
        height: 50%;
        margin-right: 17vw;
    } */
    /* .firstLine h2{
        margin-right: 17vw;
    }
    .p1{
        margin-right: 10vw;
    }
    .firstLine p{
        margin-right: 17vw;
    } */
    /* .contact{
        display: inline-block;
    } */
    /* .email{
        margin-top: 2vh;
        padding-left: 5vw;
    } */
    /* .zw{
        padding-left: 8vw;
    }
    .socialIcon{
        padding-right: 12vw;
    } */
}

/* Loading screen */
.loader-wrapper {
    top:0;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--bg-color-b);
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader h1{
    justify-content: center;
    align-items: center;
    position:relative;
    font-size: 400%;
    color: var(--bg-color);
    animation: loader 2s infinite ease;
}

.loader h1 span{
    position: relative;
}

.stop-scrolling {
    height: 100%;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}